POSTGRES_USER=clash
POSTGRES_PASSWORD=P55LdmHtzEyT2p
POSTGRES_DB=family_tree_postgress
DATABASE_URL=postgresql+psycopg2://clash:P55LdmHtzEyT2p@db:5432/family-tree-postgress
CORS_ORIGINS=http://localhost:3000,http://10.0.2.2:8000
MAX_IMAGE_BYTES=2097152
